<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="{{url_for('static', filename='css/roomsstylesheet.css')}}">
		<title>Squabbler | Engagements</title>
	</head>

	<body>
		<h1>SQUABBLER ENGAGEMENTS</h1>
		<h2>ALIAS: {{ alias }}</h2>
		<p style="color:white;">Chat Development</p>
		<form action="" method="post" id="room_submit">
			<div>
				<label>Room ID</label>
				<input type="text" name="room_input" id="room_input">
				<input type="submit" value="Submit">
			</div>
		</form>




	</body>
        <footer>
                <p style="color:black;" id="Connor">Project By Connor Fulbright</p>
                <p style="color:black;"id="Copyright">Not Copyright Yet 2022 Squabbler. All Rights Reserved</p>
        </footer>
</html>
