<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="{{url_for('static', filename='css/thezonestylesheet.css')}}">
		<title>Squabbler | The Zone</title>
	</head>
	<body>
		<h1 id="h1s">SQUABBLER ZONE</h1>
		<h2>ALIAS: {{ alias }}</h2>
		<div class="container" style="position:absolute; left:0.6%; top:9%; display:inline">
			<nav>
			<ul class="mcd-menu">
				<li>
					<a href="{{url_for('thezone')}}" class="active">
						<i class="fa fa-home"></i>
						<strong>THE ZONE</strong>
						<small>You Are Here</small>
					</a>
				</li>
				<li>
					<a href=""> 
						<i class="fa fa-edit"></i>
						<strong>What is this</strong>
						<small>What is Squabbler?</small>
					</a>
				</li>
				<li>
					<a href="">
						<i class="fa fa-gift"></i>
						<strong>Anonymity</strong>
						<small>How to Stay Anonymous</small>
					</a>
				</li>
				<li>
					<a href="">
						<i class="fa fa-envelope-o"></i>
						<strong>Contact</strong>
						<small>Reach Out</small>
					</a>
				</li>
      				<li>
					<a href="{{url_for('logout')}}">
						<i class="fa fa-globe"></i>
						<strong>Exit</strong>
						<small>End Squabbler Session</small>
					</a>
				</li>
				<li class="float">
	
					
				</li>
			</ul>
			</nav>
		</div>
	</body>

<main class="site-wrapper" style="position:absolute; top:40%; left:74.3%; transform: translate(-50%, -50%); color: white; display:inline;">
  <div class="pt-table desktop-768">
    <div class="pt-tablecell page-home absolute">

                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">

                                <div class="hexagon-menu clear">    
                                    <div class="hexagon-item">
                                        <div class="hex-item">
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                        </div>
                                        <div class="hex-item">
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                        </div>
                                        <a href="{{ url_for('soloengagements')}}" class="hex-content" id="a">
                                            <span class="hex-content-inner">
                                                <span class="icon">
                                                    <i class="fa fa-bullseye"></i>
                                                </span>
                                                <span class="title"><b>SOLO ENGAGEMENT</b></span>
                                            </span>
                                            <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                                        </a>
                                    </div>
                                    <div class="hexagon-item">
                                        <div class="hex-item">
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                        </div>
                                        <div class="hex-item">
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                        </div>
                                        <a  class="hex-content" id="a">
                                            <span class="hex-content-inner">
                                                <span class="icon">
                                                    <i class="fa fa-braille"></i>
                                                </span>
                                                <span class="title"><b>MULTI ENGAGEMENT</b></span>
                                            </span>
                                            <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                                        </a>    
                                    </div>
                                    <div class="hexagon-item">
                                        <div class="hex-item">
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                        </div>
                                        <div class="hex-item">
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                        </div>
                                        <a class="hex-content" id="a">
                                            <span class="hex-content-inner">
                                                <span class="icon">
                                                    <i class="fa fa-id-badge"></i>
                                                </span>
                                                <span class="title"><b>CREATE ENGAGEMENT</b></span>
                                            </span>
                                            <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
  </main>

        <footer>
                <p style="color:black;" id="Connor">Project By Connor Fulbright</p>
                <p style="color:black;"id="Copyright">Not Copyright Yet 2022 Squabbler. All Rights Reserved</p>
        </footer>
</html>
