<!DOCTYPE html>
<html>
	<head>
        <meta name="robots" content="noindex">
		<link rel="stylesheet" href="{{url_for('static', filename='css/chatstylesheet.css')}}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/ea05a55ff2.js" crossorigin="anonymous"></script>
        <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='squabblerfavicon.png') }}">
		<title>Squabbler | Live</title>
	</head>

	<body>
        <div class="header" id="myHeader">
            <h1 id="h3s" style="display: inline-block;"><span style="color: red;">&lt;</span>S<span style="color:red;">Q</span>UABBLER LIVE<span style="color:red;">&gt;</span></h1>
            <hr color="red" size="3px" id="headerline">    
        </div>

        <div class="container" style="position:absolute; left:0.6%; top:13%; display:inline">
            <nav>
            <ul class="mcd-menu" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                <li>
                    <a href="{{url_for('thezone')}}">
                        <i class="fa-solid fa-arrow-left"></i>
                        <strong>THE ZONE</strong>
                        <small>Back to The Zone</small>
                    </a>
                </li>
                <li class="float">
    
                    
                </li>
            </ul>
            </nav>
        </div>

        <div id="menuborder" style="position:fixed; top: 59%; left:50%; transform: translate(-50%,-50%); display:inline-block;">
          <div id="chatborder" class="scrollingdiv" style="position:absolute; top: 42%; left:50%; transform: translate(-50%,-50%); display:inline-block;">  
		      <div id="messages">
  
              </div>
          </div>
          <form id="message_input_form" style="position:absolute; top: 90%; left:50%; transform: translate(-50%,-50%); display:inline-block;">
                <input style="position:absolute; top: 70%; left:50%; transform: translate(-50%,-50%);" type="text" id="message_input" autocomplete="off" placeholder="TYPE HERE..." spellcheck="false">
            </form>
        </div>
		
        <div id="infoborder" style="position:fixed; top: 41.5%; left:88%; transform: translate(-50%,-50%); display:inline-block;">
            <h2 id="menutitle" style="filter: drop-shadow(1px 1px 1px red); position:fixed; top: 5%; left:50%; transform: translate(-50%,-50%); display:inline-block;">ROOM INFO</h2>
            <div id="infointerior" style="position:fixed; top: 62%; left:50%; transform: translate(-50%,-50%); display:inline-block;">
                <h3 style="filter: drop-shadow(1px 1px 1px red);">ROOM ADMIN:</h3>
                <h3 style="filter: drop-shadow(1px 1px 1px red);">CHALLENGER:</h3>
                <h3 style="filter: drop-shadow(1px 1px 1px red);">TOPIC:</h3>
            </div>
        </div>


	</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<script>
    const socket = io.connect("http://127.0.0.1:5000");

    socket.on('connect', function () {
        socket.emit('join_room', {
            username: "{{ username }}",
            room: "{{ room }}"
        });

        let message_input = document.getElementById('message_input');

        document.getElementById('message_input_form').onsubmit = function (e) {
            e.preventDefault();
            let message = message_input.value.trim();
            if (message.length) {
                socket.emit('send_message', {
                    username: "{{ username }}",
                    room: "{{ room }}",
                    UserID: "{{ UserID }}",
                    message: message
                })
            }
            message_input.value = '';
            message_input.focus();
        }
    });

    window.onbeforeunload = function () {
        socket.emit('leave_room', {
            username: "{{ username }}",
            room: "{{ room }}"
        })
    };

    socket.on('receive_message', function (data) {
        console.log(data);
        if (data.UserID !== "{{ UserID }}") {
            const newNode = document.createElement('div');
            newNode.innerHTML = `<b style="color: red; filter: drop-shadow(0.5px 0.5px 0.5px red);
">${data.username}:&nbsp;</b> ${data.message}`;
            newNode.setAttribute('class','oppositemessage');
            document.getElementById('messages').appendChild(newNode);
        }
        else {
            const newNode = document.createElement('div');
            newNode.innerHTML = `<b style="color: palevioletred; filter: drop-shadow(0.5px 0.5px 0.5px palevioletred);
">${data.username}:&nbsp;</b> ${data.message}`;
            newNode.setAttribute('class','localmessage');
            document.getElementById('messages').appendChild(newNode); 
        }
    });

    socket.on('join_room_announcement', function (data) {
        console.log(data);
        if (data.UserID !== "{{ UserID }}") {
            const newNode = document.createElement('div');
            newNode.innerHTML = `<b style="filter: drop-shadow(1px 1px 1px red);">${data.username}</b> has joined the Squabble`;
            OtherAlias: {data.username};
            document.getElementById('messages').appendChild(newNode);
        }
    });

    socket.on('leave_room_announcement', function (data) {
        console.log(data);
        const newNode = document.createElement('div');
        newNode.innerHTML = `<b style="filter: drop-shadow(1px 1px 1px red);">${data.username}</b> has joined the Squabble`;
        document.getElementById('messages').appendChild(newNode);
    });
</script>
</html>
