<!DOCTYPE html>
<html>
	<head>
		<meta name="robots" content="noindex">
		<link rel="stylesheet" href="{{url_for('static', filename='css/logoutstylesheet.css')}}">
		<title>Squabbler | Exit</title>
	</head>

	<body>
		<h1><span style="color: palevioletred;">&lt;</span>S<span style="color: palevioletred;">Q</span>UABBLER<span style="color: palevioletred;">&gt;</span></h1>
        <div class="container" style="position:absolute; left:0.6%; top:9%; display:inline">
            <nav>
            <ul class="mcd-menu">
                <li>
                    <a href="{{url_for('thezone')}}">
                        <i class="fa fa-home"></i>
                        <strong>THE ZONE</strong>
                        <small>Back to The Zone</small>
                    </a>
                </li>
                <li class="float">
    
                    
                </li>
            </ul>
            </nav>
        </div>
		<p style="color:white;">Would you like to end this session?</p>
		<div class="wrapper">
  			<div class="link_wrapper">
    				<a href="{{url_for('terminate')}}" id="logoutbutton">End Session</a>
    				<div class="icon">
      					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 268.832 268.832">
        				<path d="M265.17 125.577l-80-80c-4.88-4.88-12.796-4.88-17.677 0-4.882 4.882-4.882 12.796 0 17.678l58.66 58.66H12.5c-6.903 0-12.5 5.598-12.5 12.5 0 6.903 5.597 12.5 12.5 12.5h213.654l-58.66 58.662c-4.88 4.882-4.88 12.796 0 17.678 2.44 2.44 5.64 3.66 8.84 3.66s6.398-1.22 8.84-3.66l79.997-80c4.883-4.882 4.883-12.796 0-17.678z"/>
      					</svg>
    				</div>
 			</div>
  
		</div>

	</body>
        <footer>
                <p style="color:#777;" id="Connor"><strong>Project By Connor Fulbright</strong></p>
                <p style="color:#777;"id="Copyright"><strong>Not Copyright Yet Squabbler 2022. No Rights Reserved.</strong></p>
        </footer>
</html>
