<!DOCTYPE html>
<html>
	<head>
        <meta name="robots" content="noindex">
		<link rel="stylesheet" href="{{url_for('static', filename='css/roomsstylesheet.css')}}">
		<title>Squabbler | Engagements</title>
	</head>

	<body>
		<h1 id="h1s" style="position: absolute; left:0.8%; top:0%"><span style="color: palevioletred;">&lt;</span>S<span style="color: palevioletred;">Q</span>UABBLER<span style="color: palevioletred; display: inline;">&gt;</span></h1>
		<h1 id="h2s" style="position:absolute; right:0.8%; top:0%;"><span style="color: palevioletred;">&lt;</span><span style="color:whitesmoke;">{{ alias }}</span><span style="color: palevioletred;">&gt;</span></h1>
        <div class="container" style="position:absolute; left:0.6%; top:9%; display:inline">
            <nav>
            <ul class="mcd-menu">
                <li>
                    <a href="{{url_for('thezone')}}">
                        <i class="fa fa-home"></i>
                        <strong>THE ZONE</strong>
                        <small>Back to The Zone</small>
                    </a>
                </li>
                <li>
                    <a href=""> 
                        <i class="fa fa-edit"></i>
                        <strong>What is this</strong>
                        <small>What is Squabbler?</small>
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="fa fa-gift"></i>
                        <strong>Anonymity</strong>
                        <small>How to Stay Anonymous</small>
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="fa fa-envelope-o"></i>
                        <strong>Feedback</strong>
                        <small>Reach Out</small>
                    </a>
                </li>
                    <li>
                        <a href="">
                            <i class="fa fa-gift"></i>
                            <strong>Rights & Regulations</strong>
                            <small>Maintaining Professionalism</small>
                        </a>
                    </li>
                    <li>
                    <a href="{{url_for('logout')}}">
                        <i class="fa fa-globe"></i>
                        <strong>Exit</strong>
                        <small>End Squabbler Session</small>
                    </a>
                </li>
                <li class="float">
    
                    
                </li>
            </ul>
            </nav>
        </div>

		<p style="color:white;">Chat Development</p>
		<form action="" method="post" id="room_submit">
			<div>
				<label>Room ID</label>
				<input type="text" name="room_input" id="room_input" style="display: inline; position: absolute;">
				<input type="submit" value="Submit">
			</div>
		</form>




	</body>
        <footer>
        <p style="color:#777;" id="Connor"><strong>Project By Connor Fulbright</strong></p>
        <p style="color:#777;"id="Copyright"><strong>Not Copyright Yet Squabbler 2022. No Rights Reserved.</strong></p>
        </footer>
</html>
