<!DOCTYPE html>
<html>
	<head>
        <meta name="robots" content="noindex">
		<link rel="stylesheet" href="{{url_for('static', filename='css/roomsstylesheet.css')}}">
        <script src="https://kit.fontawesome.com/ea05a55ff2.js" crossorigin="anonymous"></script>
		<title>Squabbler | Engagements</title>
	</head>

	<body>
        <div class="header" id="myHeader">
            <h1 id="h3s" style="display: inline-block;"><span style="color: palevioletred;">&lt;</span>{{ alias }}'S SQUABBLE ZONE<span style="color:palevioletred;">&gt;</span></h1>
            <hr color="palevioletred" size="3px" id="headerline">    
        </div>
  
        <div class="container" style="position:absolute; left:0.6%; top:13%; display:inline">
            <nav>
            <ul class="mcd-menu" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                <li>
                    <a href="{{url_for('thezone')}}">
                        <i class="fa-solid fa-arrow-left"></i>
                        <strong>THE ZONE</strong>
                        <small>Back to The Zone</small>
                    </a>
                </li>
                <li>
                    <a href=""> 
                        <i class="fa-solid fa-circle-question"></i>
                        <strong>What is this</strong>
                        <small>What is Squabbler?</small>
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="fa-solid fa-ghost"></i>
                        <strong>Anonymity</strong>
                        <small>How to Stay Anonymous</small>
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="fa-solid fa-message"></i>
                        <strong>Feedback</strong>
                        <small>Reach Out</small>
                    </a>
                </li>
                    <li>
                        <a href="">
                            <i class="fa-solid fa-scroll"></i>
                            <strong>Regulations</strong>
                            <small>Maintaining Professionalism</small>
                        </a>
                    </li>
                    <li>
                    <a href="{{url_for('logout')}}">
                        <i class="fa-solid fa-circle-xmark"></i>
                        <strong>Exit</strong>
                        <small>End Squabbler Session</small>
                    </a>
                </li>
                <li class="float">
    
                    
                </li>
            </ul>
            </nav>
        </div>
        <div id="chatdev">
		  <p style="color:white;">Chat Development</p>
    		<form action="" method="post" id="room_submit">
    			<div>
    				<label>Room ID</label>
    				<input type="text" name="room_input" id="room_input" style="display: inline; position: absolute;">
    				<input type="submit" value="Submit">
    			</div>
    		</form>
        </div>




	</body>
        <footer>
            <div class="footer-basic" style="position:absolute; top:106%; left:50%; transform: translate(-50%, -50%);  display:inline;">
                <div class="social"><a href="#"><i class="fa-brands fa-tiktok"></i></a><a href="#"><i class="fa-brands fa-facebook"></i></a><a href="#"><i class="fa-brands fa-instagram"></i></a><a href="#"><i class="fa-brands fa-twitter"></i></a></div>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="#">WHAT IS SQUABBLER</a></li>
                    <li class="list-inline-item"><a href="#">ANONYMITY</a></li>
                    <li class="list-inline-item"><a href="#">REGULATIONS</a></li>
                    <li class="list-inline-item"><a href="#">PRIVACY POLICY</a></li>
                </ul>
                <p class="copyright">SQUABBLER © 2022</p>

        </footer>
</html>
