<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Squabbler | Choose An Alias</title>
		<link rel="stylesheet" href="{{url_for('static', filename='css/indexstylesheet.css')}}">
		<script src="https://kit.fontawesome.com/ea05a55ff2.js" crossorigin="anonymous"></script>
	</head>
	<body>
	    <div class="header" id="myHeader">
            <img src="{{url_for('static', filename='squabhead.png')}}" align="middle" width="32%" height="9%" id="masthead"/>
            <hr color="palevioletred" size="3px" id="headerline">    
        </div>

		
		
	
		<div class="container" style="position:absolute; left:0.6%; top:25%; display:inline;">
			<nav>
				<ul class="mcd-menu" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
					<li>
						<a href="">
							<i class="fa-solid fa-circle-question"></i>
							<strong>What is this</strong>
							<small>What is Squabbler?</small>
						</a>
					</li>
					<li>
						<a href="">
							<i class="fa-solid fa-ghost"></i>
							<strong>Anonymity</strong>
							<small>How to Stay Anonymous</small>
						</a>
					</li>
					<li>
						<a href="">
							<i class="fa-solid fa-scroll"></i>
							<strong>Regulations</strong>
							<small>Maintaining Professionalism</small>
						</a>
					</li>
					<li class="float">
	
						
					</li>
				</ul>
			</nav>
		</div> 

		<div id="input_form" style="position:absolute; top:41%; left:50%; transform: translate(-50%, -50%);  display:inline;">
			<form action="" method="post" id="form_submit">
				<h2 id="inputtext" style="position:absolute; top:23%; left:50%; transform: translate(-50%, -50%); filter: drop-shadow(1px 1px 1px #777);">WHO ARE YOU NOT?</h2>
				<p id="info" style="position: absolute; top:32%; left:50%; transform: translate(-50%, -50%);"><i>FOR THE SAKE OF ANONYMITY</i></p>
				
				<input style="position:absolute; top:35%; left: 7.9%; text-transform:uppercase;" required type="text" autocomplete="off" minlength="3" maxlength="12" name="alias_input" id="alias_input" placeholder="TYPE YOUR ALIAS..." spellcheck="false">
				
                                <div class="wrapper" style="position: absolute; top:120%; transform: translate(-50%, -50%);">
                                        <div class="link_wrapper">
                                                <input type="submit" value="ENTER THE ZONE" id="formbutton" style="cursor: pointer;">
		  				<div class="icon">
		      					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 268.832 268.832">
		        				<path d="M265.17 125.577l-80-80c-4.88-4.88-12.796-4.88-17.677 0-4.882 4.882-4.882 12.796 0 17.678l58.66 58.66H12.5c-6.903 0-12.5 5.598-12.5 12.5 0 6.903 5.597 12.5 12.5 12.5h213.654l-58.66 58.662c-4.88 4.882-4.88 12.796 0 17.678 2.44 2.44 5.64 3.66 8.84 3.66s6.398-1.22 8.84-3.66l79.997-80c4.883-4.882 4.883-12.796 0-17.678z"/>
		      					</svg>
		    				</div>
						</form>
                                        </div>
                                </div>
                </div>

                
	</body>
    
        <footer>
        	<div class="footer-basic" style="position:absolute; top:106%; left:50%; transform: translate(-50%, -50%);  display:inline;">
	            <div class="social"><a href="#"><i class="fa-brands fa-tiktok"></i></a><a href="#"><i class="fa-brands fa-facebook"></i></a><a href="#"><i class="fa-brands fa-instagram"></i></a><a href="#"><i class="fa-brands fa-twitter"></i></a></div>
	            <ul class="list-inline">
	                <li class="list-inline-item"><a href="#">WHAT IS SQUABBLER</a></li>
	                <li class="list-inline-item"><a href="#">ANONYMITY</a></li>
	                <li class="list-inline-item"><a href="#">REGULATIONS</a></li>
	                <li class="list-inline-item"><a href="#">PRIVACY POLICY</a></li>
	            </ul>
	            <p class="copyright">SQUABBLER © 2022</p>
  		</div>
  	</footer>
</html>
