<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Squabbler | Choose An Alias</title>
		<link rel="stylesheet" href="{{url_for('static', filename='css/indexstylesheet.css')}}">
	</head>
	<body>
		<h1>SQUABBLER</h1>
		<br>
	
		<div class="container" style="position:absolute; left:0.6%; top:9%; display:inline">
			<nav>
				<ul class="mcd-menu">
					<li>
						<a href="">
							<i class="fa fa-edit"></i>
							<strong>What is this</strong>
							<small>What is Squabbler?</small>
						</a>
					</li>
					<li>
						<a href="">
							<i class="fa fa-gift"></i>
							<strong>Anonymity</strong>
							<small>How to Stay Anonymous</small>
						</a>
					</li>
					<li class="float">
	
						
					</li>
				</ul>
			</nav>
		</div> 

		<div id="input_form" style="position:absolute; top:40%; left:50%; transform: translate(-50%, -50%);  display:inline;">
			<form action="" method="post" id="form_submit">
				<h2 id="inputtext">CREATE AN ALIAS</h2>
				<br>
				<input required type="text" autocomplete="off" minlength="3" maxlength="12" name="alias_input" id="alias_input" placeholder="TYPE HERE..." style="text-transform:uppercase" spellcheck="false">
				
                                <div class="wrapper" >
                                        <div class="link_wrapper">
                                                <input type="submit" value="ENTER THE ZONE" id="formbutton">
		  				<div class="icon">
		      					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 268.832 268.832">
		        				<path d="M265.17 125.577l-80-80c-4.88-4.88-12.796-4.88-17.677 0-4.882 4.882-4.882 12.796 0 17.678l58.66 58.66H12.5c-6.903 0-12.5 5.598-12.5 12.5 0 6.903 5.597 12.5 12.5 12.5h213.654l-58.66 58.662c-4.88 4.882-4.88 12.796 0 17.678 2.44 2.44 5.64 3.66 8.84 3.66s6.398-1.22 8.84-3.66l79.997-80c4.883-4.882 4.883-12.796 0-17.678z"/>
		      					</svg>
		    				</div>
						</form>
                                        </div>
                                </div>
                </div>
	</body>
	<footer>
		<p style="color:black;" id="Connor">Project By Connor Fulbright</p>
                <p style="color:black;"id="Copyright">Not Copyright Yet Squabbler 2022. All Rights Reserved.</p>
	</footer>
</html>
