<!DOCTYPE html> 
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="robots" content="noindex">
        <link rel="stylesheet" href="{{url_for('static', filename='css/thezonestylesheet.css')}}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/ea05a55ff2.js" crossorigin="anonymous"></script>
        <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='squabblerfavicon.png') }}">
        <title>Squabbler | The Zone</title>
    </head>
    <body>
        <div class="header" id="myHeader">
            <h1 id="h3s" style="display: inline-block;"><span style="color: palevioletred;">&lt;</span>S<span style="color:palevioletred;">Q</span>UABBLER<span style="color:palevioletred;">&gt;</span></h1>
            <hr color="palevioletred" size="3px" id="headerline">    
        </div>
  
        <div class="container" id="content" style="position:absolute; left:0.6%; top:14%; display:inline; color: palevioletred;">
            <nav>
                <ul class="mcd-menu" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                    <li>
                        <a href="{{url_for('thezone')}}" class="active">
                            <i class="fa fa-home"></i>
                            <strong>{{ alias }}'S ZONE</strong>
                            <small>You Are Here</small>
                        </a>
                    </li>
                    <li>
                        <a href=""> 
                            <i class="fa-solid fa-circle-question"></i>
                            <strong>What is this</strong>
                            <small>What is Squabbler?</small>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fa-solid fa-ghost"></i>
                            <strong>Anonymity</strong>
                            <small>How to Stay Anonymous</small>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fa-solid fa-message"></i>
                            <strong>Feedback</strong>
                            <small>Reach Out</small>
                        </a>
                    </li>
                        <li>
                            <a href="">
                                <i class="fa-solid fa-scroll"></i>
                                <strong>Regulations</strong>
                                <small>Maintaining Professionalism</small>
                            </a>
                        </li>
                        <li>
                        <a href="{{url_for('logout')}}">
                            <i class="fa-solid fa-circle-xmark"></i>
                            <strong>Exit</strong>
                            <small>End Squabbler Session</small>
                        </a>
                    </li>
                    <li class="float">
        
                        
                    </li>
                </ul>
            </nav>
        </div>
        

        <div id="menuborder" style="position:absolute; top: 50%; left:50%; transform: translate(-50%,-50%); display:inline-block;">
            <h2 id="menutitle" class="typewriter" style="position:fixed; top: 5%; left:50%; transform: translate(-50%,-50%); display:inline-block;">{{ alias }}'S SQUABBLE ZONE</h2>
            <div id="menuinterior" style="position: absolute; top:21%;">
                <main class="site-wrapper" style="position:absolute; top:39.5%; left:49%; transform: translate(-23.5%,-50%); color: white; display:inline-block;" id="hexmenu">
                <div class="pt-table desktop-768">
                    <div class="pt-tablecell page-home absolute">

                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">

                                    <div class="hexagon-menu clear">    
                                        <div class="hexagon-item">
                                            <div class="hex-item">
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                            </div>
                                            <div class="hex-item">
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                            </div>
                                            <a href="{{ url_for('solosquabble')}}" class="hex-content" id="a">
                                                <span class="hex-content-inner">
                                                    <span class="icon">
                                                        <i class="fa fa-user"></i>
                                                    </span>
                                                    <span class="title"><b>SOLO SQUABBLE</b></span>
                                                </span>
                                                <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="palevioletred"></path></svg>
                                            </a>
                                        </div>
                                        <div class="hexagon-item">
                                            <div class="hex-item">
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                            </div>
                                            <div class="hex-item">
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                            </div>
                                            <a  class="hex-content" id="a">
                                                <span class="hex-content-inner">
                                                    <span class="icon">
                                                        <i class="fa fa-users"></i>
                                                    </span>
                                                    <span class="title"><b>MULTI SQUABBLE</b></span>
                                                </span>
                                                <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="palevioletred"></path></svg>
                                            </a>    
                                        </div>
                                        <div class="hexagon-item">
                                            <div class="hex-item">
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                            </div>
                                            <div class="hex-item">
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                            </div>
                                            <a href="{{ url_for('createsquabble')}}" class="hex-content" id="a">
                                                <span class="hex-content-inner">
                                                    <span class="icon">
                                                        <i class="fa solid fa-plus"></i>
                                                    </span>
                                                    <span class="title"><b>CREATE SQUABBLE</b></span>
                                                </span>
                                                <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="palevioletred"></path></svg>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>   
        </div>
        
        <div id="infoborder" style="position:absolute; top: 50%; left:88.2%; transform: translate(-50%,-50%); display:inline-block;">
            <h2 id="infotitle" style="position:fixed; top: 5%; left:50%; transform: translate(-50%,-50%); display:inline-block;">INFORMATION</h2>
            <div id="infointerior" style="position:fixed; top: 58%; left:50%; transform: translate(-50%,-50%); display:inline-block;">
                <h3>PRE-ALPHA</h3>

            </div>
        </div>

</body>
        <footer>
            <div class="footer-basic" style="position:absolute; top:106%; left:50%; transform: translate(-50%, -50%);  display:inline-block;">
                <div class="social"><a href="#"><i class="fa-brands fa-tiktok"></i></a><a href="#"><i class="fa-brands fa-facebook"></i></a><a href="#"><i class="fa-brands fa-instagram"></i></a><a href="#"><i class="fa-brands fa-twitter"></i></a></div>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="#">WHAT IS SQUABBLER</a></li>
                    <li class="list-inline-item"><a href="#">ANONYMITY</a></li>
                    <li class="list-inline-item"><a href="#">REGULATIONS</a></li>
                    <li class="list-inline-item"><a href="#">PRIVACY POLICY</a></li>
                </ul>
                <p class="copyright">SQUABBLER © 2022</p>
        </div>
        </footer>
</html>
